.stadium{
    .title-stadium{
        color:var(--c-primary);
        text-align: center;
        margin-bottom:3rem;
    }
    padding:1rem 5rem;
    background-color: var(--c-background);

    .swiper-slide{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cards a {
        color: inherit;
        text-decoration: none;
    }
   
    .cards {
        border-radius:10px;
        width: 370px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        -webkit-transition: box-shadow 0.5s;
        transition: box-shadow 0.5s;
        border: 1px solid var(--c-primary);
        cursor: pointer;

        &:hover {
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
        }
        &:hover {
            .cards__thumb{
                height: 130px;
                opacity: 0.6;
                img{
                    height: 300px;
                    -webkit-transform: scale(1.2);
                    transform: scale(1.2);
                }
            }  
            .cards__body{
                height: 200px;
                .cards__description {
                    opacity: 1;
                    -webkit-transform: translateY(0px);
                    transform: translateY(0px);
                    -webkit-transition-delay: 0.1s;
                    transition-delay: 0.1s;
                }
            }
        }
        .cards__thumb {
            height: 255px;
            overflow: hidden;
            -webkit-transition: height 0.5s;
            transition: height 0.5s;
            img {
                width: 100%;
                height: 100%;
                display: block;
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
                -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
                transition: opacity 0.5s, -webkit-transform 0.5s;
                transition: opacity 0.5s, transform 0.5s;
                transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;              
            }
        }
        .cards__body {
            position: relative;
            height: 85px;
            padding: 20px;
            -webkit-transition: height 0.5s;
            transition: height 0.5s;
            background-color: var(--c-primary);
            
            .cards__category {
                position: absolute;
                top: -25px;
                left: 0;
                height: 25px;
                padding: 0 15px;
                background-color: coral;
                color: #fff;
                text-transform: uppercase;
                font-size: 11px;
                line-height: 25px;
            }
            
            .cards__title {
                margin: 0;
                padding: 0 0 10px 0;
                color: #000;
                font-size: 22px;
                font-weight: bold;
                text-transform: uppercase;
                text-align: center;
                font-family: var(--ff-qatar);
                color:var(--c-background)
            }
            
            .cards__subtitle {
                margin: 0;
                padding: 0 0 10px 0;

            }
            
            .cards__description {
                position: absolute;
                text-align: center;
                left: 20px;
                right: 20px;
                bottom: 56px;
                margin: 0;
                padding: 0;
                color: coral;
                line-height: 27px;
                opacity: 0;
                -webkit-transform: translateY(45px);
                transform: translateY(45px);
                -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
                transition: opacity 0.3s, -webkit-transform 0.3s;
                transition: opacity 0.3s, transform 0.3s;
                transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
                -webkit-transition-delay: 0s;
                transition-delay: 0s;     
                font-size:15px;
    
            }
        }
        
        // .icon {
        //     display: inline-block;
        //     vertical-align: middle;
        //     margin: -2px 0 0 2px;
        //     font-size: 18px;
        // }
        
        // .icon+.icon {
        //     padding-left: 10px;
        // }
    }
    
    
}
